{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],

  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
   "plugins": [ "react" ],
   "globals": {
    "moment": true
  },
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "no-var": "error",
    "no-console": 0,
    "prefer-const": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-multiple-empty-lines": ["warn", { "max": 1}]
  }
}
